.container1 {
    width: 100%;
    height: 100%;
    margin: 25px auto;
}

.outer1 {
    display: table;
    width: 100%;
    height: 100%;
}
.inner1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.centered1 {
    position: relative;
    display: inline-block;

    width: 100%;
    padding: 1em;
    color: white;
}

.images_fit {
    object-fit: contain;
}